html, body {
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #8fc1e3;
}

#top {
  text-align: center;
  margin: 0 auto;

}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#header{
  padding: 1px;
  background-color: #85a17d;

}

#nameForm, #userForm{
  background-color: rgb(227, 235, 231);
  padding-top: 15px;
}

.inputForm{
  text-align: left;
  margin: 5px;
}

#createCardButton, #getUser{
  padding: 15px;
  margin: 20px;
}

#wrapper{
  margin: auto;
  position:relative;
  width:400px;
  height:543px;
}
#canvas,#imageCanvas{
  position:absolute; top:0px; left:0px;
  width:400px;
  height:543px;
}
#cardView{
  padding-top: 40px;
  background-color: #8fc1e3;
}

#next, #previous{
  position: absolute;
  margin-top: 200px;
  padding: 30px;
  display: none;
}

#previous{
  margin-left: 10%;
}

#next{
  margin-left: 80%;
}

.cardViewer{
  display: none;
}

.tab {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #f7f9fb;
  
}

#like{
  padding: 20px;
  font-size: 22px;
  position: absolute;
  text-align: center;
  margin-left: 35%;
  margin-top: 600px;
  display: none;
  
  
}


/* Tab design from w3 schools */
.tab button {

  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 21%;
  transition: 0.3s;
}



#makeCard{
  background-color: rgb(227, 235, 231);
}



#votes{
  padding-top: 25px;
  font-size: 22px;
  margin: auto;
  position: relative;
  display: none;
  text-align: center;
}

